services:
  app:
    build: ./app
    container_name: week10_app
    ports:
      - "8000:80"
    depends_on:
      - mysql
    env_file:
      - .env
  mysql:
    image: mysql:8.0
    container_name: week10_db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}                     
    ports:
      - "3307:3306" 
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql