services:
  app:
    build: ./app
    container_name: week10_app
    ports:
      - "8000:80"
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - .env
  mysql:
    image: mysql:8.0
    container_name: week10_db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}  
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost', '-p ${DB_PORT}']
      interval: 5s
      timeout: 5s
      retries: 5 
    env_file:
      - .env                    
    ports:
      - "3307:3306" 
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - week10_volume:/var/lib/mysql/

volumes:
  week10_volume:
