services:
  app:
    build: ./app
    container_name: week10_app
    ports:
      - "8000:80"
    depends_on:
      - mysql
    env_file:
      - .env
  mysql:
    image: mysql:8.0
    container_name: week10_db
    env_file:
      - .env                    
    ports:
      - "3306:3306" 
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - week10_volume:/var/lib/mysql/

  volumes:
    week10_volume: